header{
    height: 120px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    margin-top: 30px;
    font-family: Helvetica, sans-serif;
    font-size:100px;
    font-weight: bold;
    color:khaki;
    text-align: center;
}

.brushes{
    font-family: Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color:white;
    background-color: mediumspringgreen;
    margin-top: 50px;
}
h3{
    font-family: Helvetica, sans-serif;
}

p{
    font-size: large;
    font-family: Helvetica, sans-serif;
}

.price{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

.frames{
    background-color: lightcoral;
    color:white;
    font-family: Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.paint{
    font-family: Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color:white;
    background-color: skyblue;   
}
